<footer class="footer bg-light text-center text-lg-start mt-5">
    <div class="container p-3">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 mb-2 mb-md-0 text-center">
          <h5 class="text-uppercase">Rescue Animal System</h5>
          <p class="small">Your go-to solution for managing rescue animals efficiently.</p>
        </div>
      </div>
    </div>
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Rescue Animal System
    </div>
  </footer>
  