<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container mt-5">
      <h1 class="text-center mb-4">Register</h1>
      <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.first_name.label(class="form-control-label") }}
          {{ form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.last_name.label(class="form-control-label") }}
          {{ form.last_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class="form-control-label") }}
          {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
